.advantages-block {
  padding: 94px 0;
}

.advantages-list {
  display: flex;
  gap: 30px;
}

.advantages-list__container {
  background-color: var(--tertiary-bkgd-color);
  border-radius: 4px;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.advantages-list__title {
  color: var(--secondary-txt-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.advantages-list__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  width: 270px;
}